.small-text {
  font-size: 0.8rem !important;
  color: #585956;
}

.Login-title-2 {
  color: #0d253a;
}

.innerContainer {
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}

.container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textfield-input {
  padding: 8px 12px 8px 12px;
}
